@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

:root {
  /* color palette */
  --bg-color: #efe6e4;
  --text-color: #533738;
  --white-color: #ffffff;
  --menu-link-hover: #ac6965;
  --button-bg-color: #cc8b86;
  --footer-bg-color: #8d7370;
  --input-text-color: #f6ede9;
  --team-section-bg-color: #e2c4ba;
  --button-hover-bg-color: #353535;
  /* fonts */
  --page-font-size: 1.125rem;
  --page-line-height: 1.875rem;
}

/* general */

html {
  scroll-behavior: smooth;
}

body {
  min-width: 75em;
  background-color: var(--bg-color);
  font-family: Montserrat, sans-serif;
  line-height: var(--page-line-height);
  font-weight: normal;
  font-size: var(--page-font-size);
  color: var(--text-color);
}

ul {
  margin: 0;
  padding: 0;
}

.h1 {
  font-size: 3.125rem;
  font-weight: 400;
  line-height: 3.875rem;
}

.h2 {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3.125rem;
  margin: 0;
}

.title {
  text-transform: uppercase;
}

/* .container {
    margin: 0 auto;
    width: 1036px;
}

.wide-container {
    margin: 0 auto;
    width: 1200px;
} */

section {
  padding: 4.0625rem 6.25rem;
}

#to-top {
  background-color: rgba(136, 62, 62, 0.4);
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
  width: 3.125rem;
  height: 3.125rem;
  position: fixed;
  bottom: 1.25rem;
  right: 1.25rem;
  text-align: center;
  border-radius: 0.625rem;
  z-index: 100;
}

#to-top:hover {
  background-color: rgba(136, 62, 62, 0.6);
  transition: background-color 0.2s ease;
}

#to-top a {
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 3.125rem;
  text-decoration: none;
  color: var(--white-color);
}

/* navigation menu */

.page-header {
  margin-bottom: -6.0625rem;
}

.menu {
  min-width: 64.75rem;
  height: 1.5625rem;
  padding: 2.25rem 6.25rem;
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  font-size: 0.86em;
}

.menu a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}

.menu a:hover {
  color: var(--menu-link-hover);
  border-bottom: 1px solid var(--menu-link-hover);
}

.menu .menu-item:first-child {
  text-transform: uppercase;
  margin-right: 5.625rem;
  display: flex;
  align-items: center;
}

.menu .menu-item:first-child:hover {
  cursor: default;
}

.menu .menu-item i.logo {
  background-image: url('../img/logo.png');
  background-size: cover;
  width: 1.5625rem;
  height: 1.5625rem;
}

.menu .menu-item:last-child {
  margin-left: 2.1875rem;
}

/* promo */

#promo {
  background: url('../img/promo.jpg') no-repeat;
  background-size: contain;
  height: 39.125rem;
  padding-bottom: 0;
}

#promo .container {
  margin-top: 5rem;
  margin-left: 5rem;
  width: 31.25rem;
}

#promo .container .button-promo {
  display: inline-block;
  padding: 1.5625rem 4.0625rem;
  background-color: var(--button-bg-color);
  line-height: 1.5625rem;
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  font-size: 1.25rem;
}

#promo .container .button-promo:hover {
  box-shadow: 0.125rem 0.125rem 0.25rem var(--button-hover-bg-color);
}

#promo .container p.info {
  margin-top: 1.5rem;
  margin-bottom: 2.875rem;
  font-size: var(--page-font-size);
  font-weight: 400;
  line-height: 1.875rem;
}

/* about */

#about {
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
}

#about h2 {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 2.5rem;
  text-align: center;
}

#about img.mask {
  width: 27.8125rem;
  height: 29.0625rem;
}

#about .main {
  display: flex;
  width: 64.75rem;
  align-self: center;
  justify-content: space-between;
}

#about .main .content {
  width: 33.125rem;
  line-height: var(--page-line-height);
}

#about .main .content p:first-child {
  margin-bottom: 1.875rem;
}

#about .footer {
  margin-top: 1.875rem;
  margin-left: -6.25rem;
  margin-right: -6.25rem;
  background-color: var(--footer-bg-color);
}

#about .footer ul {
  display: flex;
  justify-content: space-between;
  padding-top: 5.3125rem;
  padding-bottom: 5.0625rem;
}

#about .footer li {
  list-style: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.875rem;
  color: var(--white-color);
  line-height: 2.3125rem;
  text-align: center;
}

#about .footer li:first-child {
  margin-left: 11.375rem;
}

#about .footer li:last-child {
  margin-right: 11.375rem;
}

/* our-work */

#our-work .content {
  display: grid;
  grid-template-columns: 5fr 2fr 5fr;
  grid-column-gap: 1.25rem;
  grid-row-gap: 1.875rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

#our-work .content-item {
  position: relative;
}

#our-work .content-item:nth-child(4n + 2) {
  grid-column: 2 / -1;
}

#our-work .content-item:nth-child(4n + 3) {
  grid-column: 1 / 3;
}

#our-work .content-item:nth-child(4n + 4) {
  grid-column: 3 / -1;
}

#our-work .content-item > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#our-work .content .image-hover {
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

#our-work .content .image-hover:hover {
  opacity: 1;
}

#our-work .content .image-hover {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-right: 2.1875rem;
  padding-left: 2.1875rem;
  padding-top: 5.375rem;
  background: rgba(100, 72, 69, 0.8);
  color: var(--white-color);
}

#our-work .content .image-hover p:first-child {
  margin: 0 auto;
  margin-bottom: 1.875rem;
  text-align: center;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.25rem;
}

#our-work .content .image-hover p:last-child {
  margin: 0 auto;
  font-size: 1.05rem;
  line-height: var(--page-line-height);

  display: -webkit-box;
  overflow-y: hidden;

  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
}

#our-work h2 {
  text-transform: uppercase;
}

#our-work .our-work-footer {
  text-align: center;
}

#our-work .our-work-footer .more {
  font-size: 1.875rem;
  font-weight: 500;
  text-decoration: none;
  color: inherit;
}

#our-work .our-work-footer .more .arrow-right {
  display: inline-block;
  width: 3.75rem;
  height: 1.875rem;
  background: url('../img/arrow-right.svg') no-repeat bottom;
  background-size: contain;
}

/* team */

#team {
  background-color: var(--team-section-bg-color);
}

#team .title {
  text-align: center;
  margin-bottom: 2.5rem;
}

#team .content {
  display: flex;
  justify-content: center;
  gap: 2.375rem;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 2.1875rem;
}

#team .card {
  width: 20rem;
}

#team .card > img {
  margin-bottom: 0.625rem;
}

#team .card .desc {
  line-height: 1.875rem;
}

#team .wide-container {
  width: 100%;
}

#team .wide-container .work-process {
  display: flex;
  gap: 1.25rem;
}

#team .wide-container .work-process li {
  width: 17.8125rem;
  list-style: none;
  font-size: var(--page-font-size);
  line-height: var(--page-line-height);
  font-weight: 400;
  text-align: center;
}

#team .wide-container .work-process li .number {
  display: block;
  width: 4.375rem;
  height: 4.375rem;
  background-color: var(--footer-bg-color);
  color: var(--white-color);
  border-radius: 50%;
  font-weight: 500;
  font-size: var(--page-font-size);
  line-height: 4.375rem;
  margin: 0 auto 1.25rem auto;
}

/* review */

#review .title {
  margin-bottom: 2.5rem;
  text-align: center;
}

#review .content {
  display: flex;
  justify-content: center;
  align-items: center;
}

#review .content .customer-review {
  width: 25.5rem;
}

#review blockquote {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.875rem;
}

#review blockquote cite {
  font-style: normal;
  display: inline-block;
  text-transform: uppercase;
  margin-top: 1.25rem;
}

#review .content .examples {
  width: 25.5rem;
  margin-left: 1.25rem;
}

#review .content .examples img:first-child {
  margin-bottom: 1.5rem;
}

#review .content .navigation-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.5rem;
  height: 4.5rem;
  background-color: var(--button-bg-color);
  border-radius: 50%;
}

#review .content .navigation-button:hover {
  cursor: pointer;
  background-color: var(--menu-link-hover);
  transition: all 0.3s ease;
}

#review .content .navigation-button:last-of-type {
  margin-left: 1.75rem;
}

#review .content .navigation-button:first-of-type {
  margin-right: 1.75rem;
}

#review .arrow {
  width: 4.5rem;
  height: 4.5rem;
  display: inline-block;
  background: url('../img/arrow-small.svg') no-repeat center;
}

#review .arrow.prev {
  transform: rotate(180deg);
}

/* request */

#request {
  padding-top: 0;
  padding-bottom: 0;
  background-color: var(--text-color);
  color: var(--white-color);
  height: 39rem;
}

#request .container {
  display: flex;
  gap: 1.25rem;
}

#request .request-form {
  flex: 1;
  margin-left: 5rem;
}

#request .address-map {
  flex: 1;
}

#request .request-form form {
  display: flex;
  gap: 2.1875rem;
  flex-direction: column;
  margin-top: 2.75rem;
}

#request .request-form form input:not(input[type='submit']) {
  line-height: 2.1875;
  color: var(--input-text-color);
  background-color: var(--text-color);
  border: none;
  border-bottom: 0.0625rem solid var(--white-color);
  outline: none;
}

#request .request-form form input::placeholder {
  font-size: var(--page-font-size);
  line-height: var(--page-line-height);
  color: var(--input-text-color);
}

#request .request-form form input:focus::placeholder {
  color: transparent;
}

#request .request-form form input[type='submit'] {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: var(--text-color);
  background-color: var(--button-bg-color);
  height: 4.625rem;
  width: 19.3125rem;
  border: none;
  margin-top: -0.25rem;
}

#request .request-form .title {
  margin-top: 3.125rem;
  margin-bottom: 1.5rem;
}

#request .request-form .request-info {
  font-size: var(--page-font-size);
  line-height: var(--page-line-height);
  opacity: 0.6;
}

#request .request-form form input {
  font-size: var(--page-font-size);
  line-height: var(--page-line-height);
  color: var(--input-text-color);
}

#request form input[type='submit']:focus {
  transform: translateX(2px) translateY(2px);
  outline: none;
}

#request form input[type='submit']:hover {
  cursor: pointer;
  box-shadow: 0.125rem 0.25rem 0.375rem var(--button-hover-bg-color);
}

/* footer */

footer ul.contacts {
  margin: 2.25rem 6.25rem;
  display: flex;
  line-height: 1.875rem;
  font-weight: 400;
}

footer ul.contacts li {
  list-style: none;
}

footer ul.contacts li:first-child {
  margin-right: 2.625rem;
}

footer ul.contacts li:last-child {
  margin-left: auto;
}

footer .phone {
  text-decoration: none;
  color: inherit;
}
