@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

/* general */

* {
    margin: 0;
    padding: 0;
}

body {
    width: 1400px;
    background-color: #efe6e4;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    color: #533738;
}

.h1 {
    font-size: 50px;
    font-weight: 400;
    line-height: 62px;
}

.h2 {
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
}

.title {
    text-transform: uppercase;
}

section {
    padding: 65px 100px;
}

/* header */

.menu {
    width: 1200px;
    height: 25px;
    padding: 36px 100px;
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

.menu a {
    text-decoration: none;
    color: inherit;
}

.menu a:hover {
    color: lightseagreen;
}

.menu .menu-item:first-child {
    text-transform: uppercase;
    margin-right: 90px;
    display: flex;
    align-items: center;
}

.menu .menu-item i.logo {
    display: block;
    width: 25px;
    height: 25px;
    background-image: url("img/no_name_1.png");
}

.menu .menu-item:last-child {
    margin-left: 35px;
}

header {
    background: url("img/unsplash_1.png") no-repeat;
    background-size: contain;
    height: 715px;
}

header aside {
    margin-top: 54px;
    width: 500px;
    margin-left: 180px;
}

header aside a[href="#feedback"] {
    display: inline-block;
    padding: 25px 65px;
    background-color: #cc8b86;
    line-height: 25px;
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    font-size: 20px;
}

header aside a[href="#feedback"]:hover {
    box-shadow: 0 0 2px #000;
}

header aside p.info {
    margin-top: 24px;
    margin-bottom: 46px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

/* about */

#about {
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
}

#about h2 {
    text-transform: uppercase;
    margin-bottom: 40px;
    text-align: center;
}

#about img.mask {
    width: 445px;
    height: 465px;
}

#about .main {
    display: flex;
    width: 1035px;
    align-self: center;
    justify-content: space-between;
}

#about .main .content {
    width: 530px;
    line-height: 30px;
}

#about .main .content p:first-child {
    margin-bottom: 30px;
}

#about .footer {
    margin-top: 21px;
    margin-left: -100px;
    margin-right: -100px;
    background-color: #8d7370;
}

#about .footer ul {
    display: flex;
    justify-content: space-between;
    padding-top: 85px;
    padding-bottom: 81px;
}

#about .footer li {
    list-style: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 30px;
    color: #ffffff;
    line-height: 37px;
    text-align: center;
}

#about .footer li:first-child {
    margin-left: 182px;
}

#about .footer li:last-child {
    margin-right: 182px;
}

/* our-work */

#our-work .content {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#our-work .content .hover {
    position: absolute;
    width: 488px;
    height: 451px;
    background: rgba(100, 72, 69, 0.8);
    color: #ffffff;
}

#our-work .content .hover p:first-child {
    width: 270px;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
    margin-top: 86px;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
}

#our-work .content .hover p:last-child {
    width: 418px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 30px;
}

#our-work .content img {
    height: 450px;
}

#our-work h2 {
    text-transform: uppercase;
}

#our-work .footer {
    text-align: center;
}

#our-work .footer .more {
    font-size: 30px;
    font-weight: 500;
}

#our-work .footer .more .arrow-right {
    display: inline-block;
    width: 60px;
    height: 30px;
    background: url("img/arrow-right.png") no-repeat bottom;
    background-size:contain;
}

/* team */

#team {
    background-color: #e2c4ba;
}

#team .title {
    text-align: center;
    margin-bottom: 40px;
}

#team .content {
    display: flex;
    justify-content: center;
    gap: 38px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 35px;
}

#team .card {
    width: 320px;
}

#team .card > img {
    margin-bottom: 10px;
}

#team .card .desc {
    line-height: 30px;
}

#team .footer {
    width: 1200px;
}

#team .footer .work-process {
    display: flex;
    gap: 20px;
}

#team .footer .work-process li {
    width: 285px;
    list-style: none;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
}

#team .footer .work-process li .number {
    display: block;
    width: 70px;
    height: 70px;
    background-color: #8d7370;
    color: #ffffff;
    border-radius: 50%;
    font-weight: 500;
    font-size: 30px;
    line-height: 70px;
    margin: 0 auto 20px auto;
}

/* footer */

footer ul.contacts {
    margin: 37px 100px;
    display: flex;
    line-height: 30px;
    font-weight: 400;
}

footer ul.contacts li {
    list-style: none;
}


footer ul.contacts li:first-child {
    margin-right: 42px;
}

footer ul.contacts li:last-child {
    margin-left: auto;
}